h2{
    font-family: "Noto Mono", serif;
    font-size: xx-large;
}
h3{
    font-family: "Segoe Script", serif;
    font-size: x-large;
    color: lightpink;
}
p{
    font-family: "David Libre", serif;
    font-size: 18px;
    letter-spacing: normal;
    text-align: left;
}
.dragon{
    float: right;
    width: 50%;
    padding: 5px;
}
.dragon img{
    width: 50%;
    height: 350px;
    box-sizing: border-box;
    padding: 1px 1px;
}
