*{
    background-color: black;
    color: floralwhite;
    font-family: "Sitka Heading";
}
.center{
    text-align: center;
}
.transparent{
    background-color: rgba(240, 248, 255, 0);
    background-image: linear-gradient(to right, rgba(128, 128, 128, 0), rgba(128, 128, 128, 0),rgba(128, 128, 128, 0.699),rgba(128, 128, 128, 0),rgba(128, 128, 128, 0));
}
.ulnav{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
}
.linav{
    float: left;
}
.linavright{
    float: right;
}
.linava{
    display: block;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    background-color: gray;
}
.active{
    background-color: gold;
    color: black;
}
.linava:hover{
    background-color: goldenrod;
    color: black;
}
.indent{
    text-indent: 40px;
    font-size: large;
}
.lilista{
    text-decoration: none;
    display: block;
    padding: 10px;
    text-align: left;
}
.lilista:hover{
    color: gold;
}
div.banner{
    height: 14%;
    width: fill;
    border: whitesmoke solid 5px;
    background: url(https://cdn.shopify.com/s/files/1/0016/8611/0252/files/reptile_banner_2160_x_720_px_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 34%;
}
div.navigatsion {
    width: fill;
    height: max-content;
    border: 5px solid whitesmoke;
    position: sticky;
}
div.centre{
    border: whitesmoke solid 5px;
}
div.submenu{
    width: 25%;
    height: 100%;
    border: whitesmoke solid 5px;
}
div.compare{
    font-size: 17px;
    float: right;
}
.table{
    border: 1px solid gold;
    text-align: left;
    border-collapse: collapse;
}
table.table td, table.table th{
    border: 1px solid gold;
    padding: 3px 2px;
}
div.parent{
    background-color: aqua;
}
.column{
    box-sizing: border-box;
    display: flex;
}
.column img{
    width: 25%;
    padding: 1px 1px;
}
.column p{
    width: 25%;
    text-align: center;
    color: lightpink;
    font-family: "Segoe Script";
}
.home_page_text{
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}